{{#if @model.length}}
  <ul>
    {{#each @model as |story|}}
      <li class="mb-2">
        [{{story.year}}]
        {{story.title}}
        <span class="float-right">
          <StarRating
            @rating={{story.rating}}
            @onUpdate={{set story "rating"}}
          />
        </span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center">
    This author has no stories yet.
  </p>
{{/if}}